.icons{
    text-align: center;
}
.icons a{
    text-decoration: none;
    margin-right: 20px;
}
.fa-solid.fa-house.fa-5x{
    color: grey;
}
.fa-solid.fa-house.fa-5x:hover{
    color: lightgray;
}
.fa-brands.fa-twitter.fa-5x{
    color: blue;
}
.fa-brands.fa-twitter.fa-5x:hover{
    color: lightblue;
}
.fa-brands.fa-youtube.fa-5x{
    color: red;
}
.fa-brands.fa-youtube.fa-5x:hover{
    color: lightcoral;
}
.fa-brands.fa-tiktok.fa-5x{
    color: black;
}
.fa-brands.fa-tiktok.fa-5x:hover{
    color: lightslategray;
}